[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    def main():
    def gui(password, folder: str = ""):
    def api(password, folder: str = "",host="localhost", port=5000):
    def web(password, folder: str = "",host=None, port=0):
    def web(password, folder: str = "",host=None, port=0):
    def benchmark_get(
    def benchmark_delete(
    def benchmark(number: int = 10000,